NEXT_PUBLIC_STORE_NAME="Nama Toko"
NEXT_PUBLIC_STORE_TAGLINE="Tagline toko"
NEXT_PUBLIC_STORE_WHATSAPP="628xxxxxxxxxx"
NEXT_PUBLIC_STORE_EMAIL="email@example.com"
NEXT_PUBLIC_STORE_ADDRESS="Alamat toko"

NEXT_PUBLIC_SUPABASE_URL="https://xxx.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="xxx"
SUPABASE_SERVICE_ROLE_KEY="xxx"
